
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* navbar */
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: grey;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__margin{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.navbar__items{
    display: flex;
    gap: 25px;
    list-style: none;
}
.navbar__item a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

