@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: grey;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__margin {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.navbar__items {
  display: flex;
  gap: 25px;
  list-style: none;
}
.navbar__item a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
/* login_form */
.login,
.register {
  display: flex;
  height: 100vh;
  width: 100%;
}
.login__section,
.register__section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login__box,
.register__box {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login__header,
.register__header {
  font-size: 2rem;
}
.login__form,
.register__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login__form input,
.register__form input {
  height: 60px;
  /* border-bottom: 2px solid grey; */
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.btns {
  display: flex;
  height: 50px;
  gap: 5px;
}
.login__btn,
.register__btn {
  flex: 1;
  cursor: pointer;
}
.login__btn {
  background-color: rgb(29, 29, 99);
  color: white;
}
.register__btn {
  border: 2px solid rgb(255, 158, 174);
}
.register__btns{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100px;
}



.login__image {
  flex: 1;
}
.login__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
